body,
input{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.mainform {
  text-align: center;
  margin: 60px auto;
  width: 343px; 
  height: 350px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

.tbcentered {
  display: inline-block;
}

form{
  margin: 0 30px;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

.textboxes {
  margin-bottom: 25px;

}

.buttons {
  position: relative;
}

.centervertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input[type=submit] {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 0px 25px 0px 20px;
  /* margin: 10px 8px 10px 8px; */
  /* display: inline-block; */
  float: right;
  width: 114px; height: 30px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  position: relative;
}

a.loginbutton {
  font-size: 9px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 2px 8px 20px 0px;
  /* display: inline-block; */
  float: left;
  text-decoration: none;
  width: 80px; height: 20px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3b3f4d; 
  -webkit-box-shadow: 0 3px rgba(55, 59, 70, 0.75); 
  -moz-box-shadow: 0 3px rgba(55, 59, 70, 0.75); 
  box-shadow: 0 3px rgba(55, 59, 70, 0.75);
  transition: all 0.1s linear 0s; 

  position: relative;
}

input[type=submit]:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

a.loginbutton:hover {
  top: 3px;
  background-color:#282b36;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

.guest {
  margin-top: 80px;
  text-align: center;
  display: block;
}

.guest>a {
  text-decoration: none;
}

.error{
  color: maroon;
}
